In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

In [4]:
# append the second dataset to the first one
df = train.append(test)

C:\Users\eshal\AppData\Local\Temp\ipykernel_18868\1775882646.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = train.append(test)

In [5]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
print(df['Item_Weight'].isna().sum())
print(df['Item_Fat_Content'].isna().sum())
print(df['Item_Visibility'].isna().sum())
print(df['Item_Type'].isna().sum())
print(df['Item_MRP'].isna().sum())
print(df['Outlet_Establishment_Year'].isna().sum())
print(df['Outlet_Size'].isna().sum())
print(df['Outlet_Location_Type'].isna().sum())
print(df['Outlet_Type'].isna().sum())
print(df['Item_Outlet_Sales'].isna().sum())

2439
0
0
0
0
0
4016
0
0
5681

In [8]:
df['Item_Weight'].fillna(value=df['Item_Weight'].mean(),inplace=True)

In [9]:
print(df['Item_Weight'].isna().sum())

0

In [10]:
df['Outlet_Size'].fillna(value="Medium",inplace=True)

In [11]:
print(df['Outlet_Size'].isna().sum())

0

In [12]:
df['Item_Outlet_Sales'].fillna(value=df['Item_Outlet_Sales'].mean(),inplace=True)

In [13]:
print(df['Item_Outlet_Sales'].isna().sum())

0

In [14]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
plt.bar(df['Item_Fat_Content'],df['Item_Outlet_Sales'])
#plt.show()

In [ ]:
plt.scatter(df['Item_Weight'],df['Item_Outlet_Sales'])
#plt.show()

In [ ]:
sns.lineplot(data=df,x='Item_Visibility',y='Item_Outlet_Sales')

In [ ]:
sns.lineplot(data=df,x='Item_MRP',y='Item_Outlet_Sales')

In [ ]:
sns.barplot(data=df, x="Item_Type", y="Item_Outlet_Sales")
#plt.figure(figsize=(40,8))

In [ ]:
sns.barplot(data=df, x="Outlet_Location_Type", y="Item_Outlet_Sales")

In [ ]:
sns.barplot(data=df, x="Outlet_Type", y="Item_Outlet_Sales")

In [ ]:
sns.lineplot(data=df,x='Outlet_Establishment_Year',y='Item_Outlet_Sales')

In [ ]:
sns.barplot(data=df,x='Outlet_Size',y='Item_Outlet_Sales')

In [19]:
df.drop(['Item_Identifier'],axis=1,inplace=True)
df.drop(['Item_Weight'],axis=1,inplace=True)
df.drop(['Item_Fat_Content'],axis=1,inplace=True)
df.drop(['Item_Visibility'],axis=1,inplace=True)
df.drop(['Item_Type'],axis=1,inplace=True)
df.drop(['Outlet_Identifier'],axis=1,inplace=True)
df.drop(['Outlet_Establishment_Year'],axis=1,inplace=True)
df.drop(['Outlet_Size'],axis=1,inplace=True)
df.drop(['Outlet_Location_Type'],axis=1,inplace=True)

In [20]:
df.head()

   Item_MRP        Outlet_Type  Item_Outlet_Sales
0  249.8092  Supermarket Type1          3735.1380
1   48.2692  Supermarket Type2           443.4228
2  141.6180  Supermarket Type1          2097.2700
3  182.0950      Grocery Store           732.3800
4   53.8614  Supermarket Type1           994.7052

In [24]:
enc_df = pd.get_dummies(df, columns=["Outlet_Type"],prefix='new')
new_df = pd.concat([df, enc_df], axis=1)

In [25]:
new_df.head()

,Item_MRP,Outlet_Type,Item_Outlet_Sales,Item_MRP,Item_Outlet_Sales,new_Grocery Store,new_Supermarket Type1,new_Supermarket Type2,new_Supermarket Type3
0,249.8092,Supermarket Type1,3735.1380,249.8092,3735.1380,0,1,0,0
1,48.2692,Supermarket Type2,443.4228,48.2692,443.4228,0,0,1,0
2,141.6180,Supermarket Type1,2097.2700,141.6180,2097.2700,0,1,0,0
3,182.0950,Grocery Store,732.3800,182.0950,732.3800,1,0,0,0
4,53.8614,Supermarket Type1,994.7052,53.8614,994.7052,0,1,0,0

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [27]:
model = LinearRegression()

In [30]:
X = new_df[['Item_MRP','new_Grocery Store','new_Supermarket Type1','new_Supermarket Type2','new_Supermarket Type3']]
y = new_df[['Item_Outlet_Sales']]

In [31]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [32]:
model.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred = model.predict(X_test)
print(y_pred)

[[2782.40870113 2782.40870113]
 [2805.21838017 2805.21838017]
 [2806.50487094 2806.50487094]
 ...
 [ 308.020973    308.020973  ]
 [2166.63005502 2166.63005502]
 [1644.10899697 1644.10899697]]

In [36]:
from sklearn import metrics

print ("Mean Absolute Error (MAE) - Test data : ", metrics.mean_absolute_error(y_test, y_pred))

print ("Mean Squared Error (MSE) - Test data : ", metrics.mean_squared_error(y_test, y_pred))

print ("Root Mean Squared Error (RMSE) - Test data : ", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

print("Co-efficient of determination (R2 Score): ", metrics.r2_score(y_test, y_pred))

Mean Absolute Error (MAE) - Test data :  795.7991194512725
Mean Squared Error (MSE) - Test data :  1089590.4275684126
Root Mean Squared Error (RMSE) - Test data :  1043.8344828412273
Co-efficient of determination (R2 Score):  0.31993404994561125